.heading
{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(0, 204, 255);
    background-color: aqua;
    color: rgb(97, 0, 189);
    padding: 20px;
    
}

.heading2
{
    color: rgb(3, 218, 182);
    font-size: 25px;
    font-family: cursive;

}

.copy_right_footer
{
    position: fixed;
    color: rgb(0, 89, 255);
    bottom: 0px;
    width: 100%;
    background-color: rgb(37, 238, 211);
    line-height: 3;
    text-align: center;
}


canvas
{
    border: 5px solid rgb(0, 77, 177);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(73, 205, 209);;
}